.header{
    height: 100vh;
    padding-top: 4rem;
    overflow: hidden;
}
.header__socials a{
    color: #fff;
}
.cast{
    background-color: #1f1f3a;
}
.cast h1,h5,a{
    color: #fff;
}
.header__container{
    text-align: center;
    height: 220px;
    position: relative;
    padding-top: 50px;
}
.cta{
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}
 .me{
     background: linear-gradient(var(--color-primary), transparent);
     width: 22rem;
     height: 30rem;
     position: absolute;
     margin: auto;
     left: calc(50% - 11rem);
     margin-top: 1rem;
     border-radius: 12rem 12rem 0 0;
     overflow: hidden;
     
    


 }
.me > img{
    width: 400px;
    height: 400px;



    
}
.scroll__down{
    position: absolute;
    right: -0.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
font-weight: 300;
font-size: 0.9rem;
}

@media screen and (max-width: 1024px){
header{
height: 68vh;
}



}
@media screen and (max-width: 600px){
header{
    height: 100vh;
}
.header__socials, 
.scroll__down{
    display: none;
}
.me > img{
   
margin-right: 100px;
    
}
}
.header__socials{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    
    bottom: 3rem;
}
.header__socials::after{
    content: '';
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}